# Supabase
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=

# Gemini
GEMINI_API_KEY=

# Image Generation
IMAGE_GENERATION_API_KEY=

# Application
APP_URL=http://localhost:5173
NODE_ENV=development
