@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,400;0,600;0,900;1,500&family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --font-display: 'Fraunces', serif;
  --font-body: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --color-primary: #e8dccb;
  --color-secondary: #f5f1ea;
  --color-accent: #2f2f2f;
  --color-background: #fafaf8;
  --border: #e5e5e5;
}

@layer utilities {
  /* .bg-primary {
    background-color: var(--color-primary);
  } */

  .font-mono {
    font-family: var(--font-mono);
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--color-background);
  color: var(--color-accent);
  font-family: var(--font-body);
  overflow-x: hidden;
}
